<!DOCTYPE html>
<html>
<head>
  {% extends 'nav_bar.html' %}
  {% set local = 'Tests' %}
  {% block content %}
  {% if alert_message != '' %}
    <script>alert("{{ alert_message }}")</script>
  {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

/* Set height of body and the document to 100% */
html {
  min-height: 100%;
  margin: 0;
}

/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 20%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Dragons {
  background-image: linear-gradient(#43d4e7, #9ed7ff);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#Basic {
  background-image: linear-gradient(#e7e7e7, #fcff67);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#L1 {
  background-image: linear-gradient(#ec925d, #59e477);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#L2 {
  background-image: linear-gradient(#c768f3, #6c8be0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
#L3 {
  background-image: linear-gradient(#f36767, #bb9462);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
}
td, th {
  border: 1px solid black;
  padding: 8px;
  background-color: transparent;
  text-align: center;
}
table {
  width: 90%;
  align-self: center;
}
</style>
</head>
<body>
<br>
<button class="tablink" onclick="openPage('Dragons', this, 'orange')">Dragons</button>
<button class="tablink" onclick="openPage('Basic', this, 'yellow')">Basic</button>
<button class="tablink" onclick="openPage('L1', this, 'green')" id="defaultOpen">Level 1</button>
<button class="tablink" onclick="openPage('L2', this, 'blue')">Level 2</button>
<button class="tablink" onclick="openPage('L3', this, 'red')">Level 3</button>

<div id="Dragons" class="tabcontent">
  <h2>Little Dragons</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
    </tr>
    {% for belt in belts %}
      {% if belt.belt_id == 'dragonsgold0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsorange0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsgreen0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonspurple0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsblue0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsred0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsbrown0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="Basic" class="tabcontent">
  <h2>Basic</h2>
  <table>
    <tr>
      <th>Belt Size</th>
      <th>White Belt</th>
      <th>Gold Belt</th>
    </tr>
    {% for belt in belts %}
      {% if belt.size == '00' %}
        <tr>
          <td style="font-weight: bold;">Size 00</td>
          <td>if {% belt.belt_id == 'white00' %} {{ belt.quantity }} {% endif %}</td>
          <td></td>
        </tr>
      {% endif %}
      {% if belt.size == '0' %}
        <tr>
          <td style="font-weight: bold;">Size 0</td>
          <td>if {% belt.belt_id == 'white0' %} {{ belt.quantity }} {% endif %}</td>
          <td>if {% belt.belt_id == 'gold0' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.size == '1' %}
        <tr>
          <td style="font-weight: bold;">Size 0</td>
          <td>if {% belt.belt_id == 'white1' %} {{ belt.quantity }} {% endif %}</td>
          <td>if {% belt.belt_id == 'gold1' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.size == '2' %}
        <tr>
          <td style="font-weight: bold;">Size 0</td>
          <td>if {% belt.belt_id == 'white2' %} {{ belt.quantity }} {% endif %}</td>
          <td>if {% belt.belt_id == 'gold2' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="L1" class="tabcontent">
  <h2>Level 1</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    {% for belt in belts %}
      {% if belt.color == 'Orange' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'orange0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'orange8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Orange' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highorange0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highorange8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'Green' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'green0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'green8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Green' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highgreen0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highgreen8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="L2" class="tabcontent">
  <h2>Level 2</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    {% for belt in belts %}
      {% if belt.color == 'Purple' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'purple0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'purple8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Purple' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highpurple0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highpurple8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'Blue' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'blue0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'blue8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Blue' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highblue0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highblue8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="L3" class="tabcontent">
  <h2>Level 3</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    {% for belt in belts %}
      {% if belt.color == 'Red' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'red0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'red8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Red' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highred0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highred8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'Brown' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'brown0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'brown8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
      {% if belt.color == 'High Brown' %}
        <tr>
          <td style="font-weight: bold;">{{ belt.color }}</td>
          <td>{% if belt.belt_id == 'highbrown0' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown1' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown2' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown3' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown4' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown5' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown6' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown7' %} {{ belt.quantity }} {% endif %}</td>
          <td>{% if belt.belt_id == 'highbrown8' %} {{ belt.quantity }} {% endif %}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
   
</body>
</html> 
{% endblock %}