<!DOCTYPE html>
<html>
<head>
  {% extends 'nav_bar.html' %}
  {% set local = 'Tests' %}
  {% block content %}
  {% if alert_message != '' %}
    <script>alert("{{ alert_message }}")</script>
  {% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  }

/* Set height of body and the document to 100% */
html {
  min-height: 100%;
  margin: 0;
}
body {
  margin: 0;
}
/* Style tab links */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: calc(100% / 6);
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

h2 {
  text-align: center;
  color: black;
}

button {
  display: block;
  font-size: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 5px;
  height: 60px;
  align-content: center;
  background-color: transparent;
  border: 1px solid black;
}

button {
  width: 40%;
  margin: 0 auto;
}

#Dragons {
  background-image: linear-gradient(#43d4e7, #9ed7ff);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#Basic {
  background-image: linear-gradient(#e7e7e7, #fcff67);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#L1 {
  background-image: linear-gradient(#ec925d, #59e477);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#L2 {
  background-image: linear-gradient(#c768f3, #6c8be0);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#L3 {
  background-image: linear-gradient(#f36767, #bb9462);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#BB {
  background-image: linear-gradient(#d8d8d8, #6e6e6e);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
td, th {
  border: 1px solid black;
  padding: 8px;
  background-color: transparent;
  text-align: center;
}
table {
  width: 90%;
  align-content: center;
}
</style>
</head>
<body>
<br>
<button class="tablink" onclick="openPage('Dragons', this, 'orange')">Dragons</button>
<button class="tablink" onclick="openPage('Basic', this, '#fcff67')">Basic</button>
<button class="tablink" onclick="openPage('L1', this, 'green')" id="defaultOpen">Level 1</button>
<button class="tablink" onclick="openPage('L2', this, 'blue')">Level 2</button>
<button class="tablink" onclick="openPage('L3', this, 'red')">Level 3</button>
<button class="tablink" onclick="openPage('BB', this, 'grey')">Black Belt</button>

<div id="Dragons" class="tabcontent">
  <h2>Little Dragons</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
    </tr>
    {% for belt in belts %}
      {% if belt.belt_id == 'dragonsgold0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsorange0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsgreen0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonspurple0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsblue0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsred0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
      {% if belt.belt_id == 'dragonsbrown0' %}
        <tr>
          <td>{{ belt.color }}</td>
          <td>{{ belt.quantity }}</td>
        </tr>
      {% endif %}
    {% endfor %}
  </table>
</div>

<div id="Basic" class="tabcontent">
  <h2>Basic</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 00</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    <tr>
      <td style="font-weight: bold;">White</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'white00' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'white8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Gold</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'gold00' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'gold8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>

<div id="L1" class="tabcontent">
  <h2>Level 1</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    <tr>
      <td style="font-weight: bold;">Orange</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'orange0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'orange8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Orange</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highorange0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highorange8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Green</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'green0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'green8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Green</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highgreen0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highgreen8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>

<div id="L2" class="tabcontent">
  <h2>Level 2</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    <tr>
      <td style="font-weight: bold;">Purple</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'purple0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'purple8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Purple</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highpurple0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highpurple8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Blue</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'blue0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blue8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Blue</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highblue0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highblue8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>

<div id="L3" class="tabcontent">
  <h2>Level 3</h2>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    <tr>
      <td style="font-weight: bold;">Red</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'red0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'red8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Red</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highred0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highred8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Brown</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'brown0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'brown8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">High Brown</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'highbrown0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'highbrown8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>

<div id="BB" class="tabcontent">
  <h2>Black Belt</h2>
  <a href="/refresh_belts"><button onclick="refresh_belts()">Clear Belt</button></a>
  <table>
    <tr>
      <th>Belt Color</th>
      <th>Size 0</th>
      <th>Size 1</th>
      <th>Size 2</th>
      <th>Size 3</th>
      <th>Size 4</th>
      <th>Size 5</th>
      <th>Size 6</th>
      <th>Size 7</th>
      <th>Size 8</th>
    </tr>
    <tr>
      <td style="font-weight: bold;">Prep</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'prep0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'prep8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Conditional</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'conditional0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'conditional8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
    <tr>
      <td style="font-weight: bold;">Black Belt</td>
      {% for belt in belts %}
        {% if belt.belt_id == 'blackbelt0' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt1' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt2' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt3' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt4' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt5' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt6' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt7' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
        {% if belt.belt_id == 'blackbelt8' %} 
          <td> {{ belt.quantity }} </td>
        {% endif %}
      {% endfor %}
    </tr>
  </table>
</div>
<script>
function openPage(pageName,elmnt,color) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].style.backgroundColor = "";
  }
  document.getElementById(pageName).style.display = "block";
  elmnt.style.backgroundColor = color;
}

// Get the element with id="defaultOpen" and click on it
document.getElementById("defaultOpen").click();
</script>
<script>
  function refresh_belts() {
    var ask = window.confirm("Are you sure you want to clear the belt numbers?");
    if (ask) {
        window.alert("The belt numbers have been reset.");
        window.location.href = "/belt_refresh";
    }
}
</script>
</body>
</html> 
{% endblock %}