<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<head>
    <style>
        h1 {
            text-align: center;
            font-size: 48px;
            text-shadow: 1px 2px 2px darkgrey;
        }
        h3 {
            text-align: center;
            font-size: 30px;

        }
        body {
            font-family: -apple-system, BlinkMacSystemFont, sans-serif;
            background-color: #2d58e3;
        }
        .grid-container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
            grid-column-gap: 20px;
            background-color: #2d58e3;
            grid-template-rows: 200px;
        }
        .grid-item {
            background-color: #2d58e3;
            padding: 20px;
            font-size: 30px;
            text-align: center;
            width: auto;
        }
        .card {
            box-shadow: 5px 10px 8px black;
            background-color: lightgray;
            transition: 0.3s;
            border-radius: 5px;
        }
        .card:hover {
            box-shadow: 5px 10px 18px darkgray;
            background-color: #3a36f7;
        }
        .container {
            padding: 2px 16px;
            text-align: center;
        }
    </style>
</head>
<body>
<h1>Exclusive Martial Arts</h1>
<h3>Students Today: 100</h3>
<h3>Students This Week: 100</h3>
<div class="grid-container">
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Add a Student</b></h4>
                <p>Add a student to EMA</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Check-In a Student</b></h4>
                <p>Check-in a student for a class</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Reports</b></h4>
                <p>Generate reports for attendance and belt tests</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Belt Testing</b></h4>
                <p>Add a student for belt testing</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Class Information</b></h4>
                <p>View class details</p>
            </div>
        </div>
    </div>
    <div class="grid-item">
        <div class="card">
            <div class="container">
                <h4><b>Student Lookup</b></h4>
                <p>Lookup and edit student information</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>

